<a href="https://colab.research.google.com/github/yello-ow/AIB_Project/blob/main/movie_recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 영화 추천 시스템 (알고리즘)
- 콘텐츠 기반 필터링 : 특정 아이템 선호 -> 비슷한 아이템 추천

#### 데이터 전처리

In [30]:
import warnings
warnings.filterwarnings("ignore")

In [31]:
import pandas as pd

In [32]:
movie = pd.read_csv('tmdb_5000_movies.csv')
movie.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [33]:
movie.shape

(4803, 20)

In [34]:
columns = ['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords']

In [35]:
df = movie[columns]

In [36]:
df.head()

       id  ...                                                                         keywords
0   19995  ...  [{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id...
1     285  ...  [{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911...
2  206647  ...  [{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4...
3   49026  ...  [{"id": 849, "name": "dc comics"}, {"id": 853, "name": "crime fighter"}, {"i...
4   49529  ...  [{"id": 818, "name": "based on novel"}, {"id": 839, "name": "mars"}, {"id": ...

[5 rows x 7 columns]

In [37]:
from ast import literal_eval 

df['genres'] = df['genres'].apply(literal_eval)
df['keywords'] = df['keywords'].apply(literal_eval)

df['genres'] = df['genres'].apply(lambda x : [dic['name'] for dic in x])
df['keywords'] = df['keywords'].apply(lambda x : [dic['name'] for dic in x])

df.head()

       id  ...                                                                         keywords
0   19995  ...  [culture clash, future, space war, space colony, society, space travel, futu...
1     285  ...  [ocean, drug abuse, exotic island, east india trading company, love of one's...
2  206647  ...  [spy, based on novel, secret agent, sequel, mi6, british secret service, uni...
3   49026  ...  [dc comics, crime fighter, terrorist, secret identity, burglar, hostage dram...
4   49529  ...  [based on novel, mars, medallion, space travel, princess, alien, steampunk, ...

[5 rows x 7 columns]

#### 장르 유사도 측정
- 코사인 유사도

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

df['genres'] = df['genres'].apply(lambda x : (' ').join(x))

count_v = CountVectorizer(min_df=0, ngram_range=(1,3))
genre_v = count_v.fit_transform(df['genres'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

genre_csine = cosine_similarity(genre_v, genre_v)